<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Eric Lui's Go School</title>
		<link rel="shortcut icon" href="../../../../../../MySite/images/favicon.ico">
		<link rel="stylesheet" href="../../../../../../MySite/styles/style.css" type="text/css">
		
			
	</head>
	<body>
		<header>
			<h1>The Iceman</h1>
			<img src="../../../../../../MySite/images/Me_Sedol.jpg" class = "header" alt="Eric picture">
		</header>
		
		<nav id="nav_list">
			<ul>
				<li><a href="../../../../../../MySite/index.html" >Home</a></li>
				<li><a href="../../../../../../MySite/WhatIsGo.html" >What is Go?</a></li>
				<li><a href="../../../../../../MySite/WhyPlayGo.html" >Why Play Go?</a></li>
				<li><a href="AboutMe.html" class="current">About Me</a></li>
				<li><a href="../../../../../../MySite/Teaching.html" >Teaching</a></li>
				<li><a href="" >Learn More</a>
					<ul>
						<li><a href="http://www.usgo.org" target="_blank">
						    American Go Association</a></li>
						
					</ul>
				</li>
			</ul>
		</nav>
		
		<aside> "When I was young, . . . I wanted to be the world's best Go 
		player." -- Bill Gates<br><br><br>
		"While the Baroque rules of chess could only have been created by humans, 
		the rules of go are so elegant, organic, and rigorously logical that if 
		intelligent life forms exist elsewhere in the universe, they almost certainly play go." 
		-- Edward Lasker, chess grandmaster<br><br><br> "{it is} something unearthly . . . 
		If there are sentient beings on other planets, then they play Go." - Emanuel Lasker, 
		chess world champion</aside>
		
		<main>
			<h2>My Brief Biography</h2>
			<br>
				<p><img src="../../../../../../MySite/images1/Winning.jpg" id = "win" alt="Eric picture">
				Eric Lui was born in Maryland and started playing go at age 5, 
				becoming AGA 1 dan in less than a year. In 2010, he finished 2nd 
				in the North American Ing Masters. In 2016, he became an AGA professional. 
				To date, Eric has had more than twenty international representations 
				for the US and North America to major tournaments including the 
				Samsung Cup, MLILY Cup, Ing Cup, Chunlan Cup, Tianfu Cup, IMSA Elite Mind Games, 
				Sankei Cup, Pair Go World Cup, World Student Go Oza, and five times to the World Youth Go Championship.
				He twice represented the US to the World Amateur Go Championship (2009, 2011) and Korea Prime Minister Cup 
				International Baduk Championship (2006, 2015), achieving the best-ever 
				US finish in both tournaments.</p>
			
			<br>
			
			<h2>Other Achievements</h2>
			<br>
				<ul class="tournaments">
					<li>Five-time Maryland Open champion</li>
					<li>Two-time New Jersey Open champion</li>
					<li>US Open 2016-2017, 4th place</li>
					<li>Redmond Meijin </li>
				</ul>
			<br>
			
			<h2>AGA E-Journal Articles</h2>
			<br>
			
				<p><a href="http://www.usgo.org/news/2016/04/the-traveling-board-eric-lui-on-the-2016-imsa/"
				target="_blank"> My Report on the 2016 International Elite Mind Games </a></p>
				<p><a href="http://www.usgo.org/news/2017/02/reflections-on-pair-go/"
				target="_blank"> My Report on the 2016 Pair Go World Cup </a></p>
				<p><a href="http://www.usgo.org/news/2015/12/kpmc-2015-eric-lui-on-camaraderie-and-pure-joy/"
				target="_blank"> My Report on the 2015 Korea Prime Minister Cup </a></p> 	
			
		</main>
	
	   
	</body>
</html>