<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eric Lui's Go School</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../styles.css" rel="stylesheet" type="text/css">

</head>
<body>

<header>
    <h1> ERIC LUI'S GO SCHOOL</h1>
    <img src="Go-Board-overhead.jpg" class="header" alt="Go board overhead">
</header>

<div class="position-fixed verticalnav navbar-dark">
    <!--    <h2>Vertical Nav</h2>-->
    <!--    <p>Use the .flex-column:</p>-->
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/WhatIsGo">What Is Go?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/WhyPlayGo">Why Play Go?</a>
        </li>
        <!--        <li class="nav-item">-->
        <!--            <a class="nav-link disabled" href="#">Disabled</a>-->
        <!--        </li>-->
        <li class="nav-item">
            <a class="nav-link" href="#">About Me</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Learn More</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="http://www.usgo.org" target="_blank">American Go Association</a>
                <a class="dropdown-item" href="http://www.google.com" target="_blank">Google Homepage</a>
            </div>
        </li>
    </ul>
<!--<nav id="nav_list">-->
<!--    <ul class="mainmenu">-->
<!--        <li><a href="index.html" class="current" >Home</a></li>-->
<!--        <li><a href="/WhatIsGo" >What is Go?</a></li>-->
<!--        <li><a href="WhyPlayGo.html" >Why Play Go?</a></li>-->
<!--        <li><a href="AboutMe.html" >About Me</a></li>-->
<!--        <li><a href="Teaching.html" >Teaching</a></li>-->
<!--        <li><a href="" >Learn More</a>-->
<!--            <ul>-->
<!--                <li><a href="http://www.usgo.org" target="_blank">-->
<!--                    American Go Association</a></li>-->
<!--            </ul>-->
<!--        <li><a href="/Bootstrap">BOOTSTRAP</a></li>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->

<aside> "When I was young, . . . I wanted to be the world's best Go
    player." -- Bill Gates<br><br><br>
    "While the Baroque rules of chess could only have been created by humans,
    the rules of go are so elegant, organic, and rigorously logical that if
    intelligent life forms exist elsewhere in the universe, they almost certainly play go."
    -- Edward Lasker, chess grandmaster<br><br><br> "{it is} something unearthly . . .
    If there are sentient beings on other planets, then they play Go." - Emanuel Lasker,
    chess world champion</aside>


<main>
    <img src="EricLui.jpg" class = "eric" alt="Eric picture">

    <p class="home">My name is Eric Lui. Since 2016, I am a professional Go player of
        the American Go Association (AGA), the main organizing body for Go in
        the USA.</p>
    <br>

    <h2>If you're new to the game... </h2>
    <p class="home">Welcome! Go is a game of unlimited beauty. The game has appeared in
        movies such as A Beautiful Mind, Tron: Legacy, and Crouching Tiger, Hidden Dragon.
        Some of the world's greatest minds, including Albert Einstein and John Nash, played Go.
        There are tens of millions of players worldwide, mostly in Asia, with numbers steadily
        increasing in the US.</p>
    <br>
    <h2>If you are a Go player...</h2>
    <p class="home">Hello there. The apocalypse has gone and passed and we are still here!
        Perhaps we've met. Maybe you are looking to get stronger, or trying to find the
        meaning of life. Whether you are a stranger, acquaintance,
        or friend, may you find what you're looking for. </p>

</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>