<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Learn More</title>
		<link href="../../../../../../MySite/styles/style.css" rel="stylesheet" type="text/css">
			
	</head>
	<body>
		<header>
			<h1 align="center"> Learn More</h1>
			<div class="image"> </div>
		</header>
		<main>
			<nav>
				<h3>Where to Play</h3>
					<ul>
						<li>link 1</li>
						<li>link 2</li>
						<li>link 3</li>
					</ul>		
				
				<h3>Useful Resources</h3>
					<ul>
						<li>link 1</li>
						<li>link 2</li>
						<li>link 3</li>
					</ul>
				<ul>
					
				</ul>
		
			</nav>	
		
	</body>
</html>