<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Eric Lui's Go School</title>
		<link rel="shortcut icon" href="../../../../../../MySite/images/favicon.ico">
		<link href="../../../../../../MySite/styles/style.css" rel="stylesheet" type="text/css">
			
	</head>
	<body>
		<header>
			<h1> Lessons</h1>
				<img src="images1/Teaching.jpg" class="header" alt="Go picture">
		</header>
		
		<nav id="nav_list">
			<ul class="mainmenu">
				<li><a href="../../../../../../MySite/index.html" class="current" >Home</a></li>
				<li><a href="../../../../../../MySite/WhatIsGo.html" >What is Go?</a></li>
				<li><a href="../../../../../../MySite/WhyPlayGo.html" >Why Play Go?</a></li>
				<li><a href="AboutMe.html" >About Me</a></li>
				<li><a href="Teaching.html" >Teaching</a></li>
				<li><a href="" >Learn More</a>
					<ul>
						<li><a href="http://www.usgo.org" target="_blank">
						    American Go Association</a></li>
						
					</ul>
				</li>
			</ul>
		</nav>
		
		<aside> "When I was young, . . . I wanted to be the world's best Go 
		player." -- Bill Gates<br><br><br>
		"While the Baroque rules of chess could only have been created by humans, 
		the rules of go are so elegant, organic, and rigorously logical that if 
		intelligent life forms exist elsewhere in the universe, they almost certainly play go." 
		-- Edward Lasker, chess grandmaster<br><br><br> "{it is} something unearthly . . . 
		If there are sentient beings on other planets, then they play Go." - Emanuel Lasker, 
		chess world champion</aside>
		
		<main class="lessons">
			<p>Everybody wants to get stronger. This is something that can't be 
			helped, whether you are a serious student of the game, or just a casual
			player. Nowadays, there are so many resources out there available to us.
			Go books, YouTube videos, AI programs, you name it. And yet, improving
			is still a struggle for most of us. Why?</p>
			<br>
			<p>Improving at go requires time and focus, two things that are at a 
			premium in today's world. Most Western players, even at strong amateur 
			levels, are weak at fundamentals. For the most part this is inevitable,
			as the majority of players do not know the most efficient methods to improve.</p>
			<br>
			<p>I will give you some advice right now, totally free. The most important 
			part of the game is the middle game. If your aim is to get stronger and win 
			more games, then that's where you should focus most your efforts. This means
			playing games against players at your level and solving life-and-death problems.</p>
			<br>
			<p>OK, I admit that wasn't particular earth-shattering. But there's plenty
			more where that came from. If you are interested in taking lessons with me, 
			my contact information is below.</p>
			<br>
			
			<h3>Contact Me</h3>
			<br>
				<p>The best way to reach me is by email at <a href="mailto:eric.lui@usgo.org"></a>
				eric.lui@usgo.org</p>
			
		</main>
	
	   
	</body>
</html>