<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eric Lui's Go School</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="../styles.css" rel="stylesheet" type="text/css">

</head>
<body>
	<header>
		<h1> Introduction to Go</h1>
		<!--<img src="images1/Original.jpg" class="image2" alt="Go picture">-->
	</header>

	<nav id="nav_list">
		<ul class="mainmenu">
			<li><a href="/" >Home</a></li>
			<li><a href="/WhatIsGo" class="current">What is Go?</a></li>
			<li><a href="WhyPlayGo.html" >Why Play Go?</a></li>
			<li><a href="AboutMe.html" >About Me</a></li>
			<li><a href="Teaching.html" >Teaching</a></li>
			<li><a href="" >Learn More</a>
				<ul>
					<li><a href="http://www.usgo.org" target="_blank">
						American Go Association</a></li>

				</ul>
			</li>
		</ul>
	</nav>

	<aside> "When I was young, . . . I wanted to be the world's best Go
	player." -- Bill Gates<br><br><br>
	"While the Baroque rules of chess could only have been created by humans,
	the rules of go are so elegant, organic, and rigorously logical that if
	intelligent life forms exist elsewhere in the universe, they almost certainly play go."
	-- Edward Lasker, chess grandmaster<br><br><br> "{it is} something unearthly . . .
	If there are sentient beings on other planets, then they play Go." - Emanuel Lasker,
	chess world champion</aside>

	<main>
		<h2>So what is this game?</h2>
			<br>
			<p>Go is a board game that originated in China thousands of years ago.
			   Two players alternate placing black and white stones on the intersections of a board
			   consisting of a grid of 19x19 lines. The object of the game is to surround more territory
			   than your opponent. Sounds easy enough, right?</p>
			<br>
		<h2>Brief History</h2>
			<br>
			<p>Since its conception, Go was considered one of the four arts
			   of the Chinese scholar. Emperors employed the game
			   as a means of settling quarrels and disputes, as well as a
			   blueprint for military strategy. During more modern times, Go spread throughout Asia like wildfire,
			   first to Japan, then gradually to South Korea and Taiwan.
			   Go first appeared in the West more than a hundred years ago and is steadily growing in
			   popularity. Today, there are many thousands of players in North
			   America and an even greater number in Europe. The estimated
			   number of players worldwide is 50 million.</p>
			<br>
		<h2>Rules of the game</h2>
			<br>
			<p>Go has just a few simple rules that govern play.</p>
			<br>
			<figure>
				<img src="Atari.PNG" class="image3" alt="Atari">
				<figcaption>The single white stone is in "atari"</figcaption>
			</figure>
			<figure>
				<img src="Capture.PNG" class="image3" alt="Capture">
				<figcaption>When black plays 1, the white stone is captured</figcaption>
			</figure>
			<figure>
				<img src="Territory.PNG" class="image3" alt="Counting">
				<figcaption>White has 5 points, Black has 10 points.</figcaption>
			</figure>
			<figure>
				<img src="Ko.PNG" class="image3" alt="Ko situation">
				<figcaption>White A and Black B in response form a "ko"</figcaption>
			</figure>
			<figure>
				<img src="Atari.PNG" class="image3" alt="Atari">
				<figcaption>The single white stone is in "atari"</figcaption>
			</figure>

		<br><br><br>
		<p>To learn more about the basics:</p>
		<br>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/ImjAO8k_YI8"
			frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
			picture-in-picture" allowfullscreen>
			</iframe>
	</main>

</body>
</html>