<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Eric Lui's Go School</title>
		<link rel="shortcut icon" href="favicon.ico">
		<link href="../styles.css" rel="stylesheet" type="text/css">
		
			
	</head>
	<body>
		<header>
			<h1> Top Five Reasons to Play Go</h1>
			<img src="KidsGo.jpg" class="header1" alt="Go picture">
			<!--<div class="image"> </div>-->
		</header>
		<div class="position-fixed verticalnav navbar-dark">
			<!--    <h2>Vertical Nav</h2>-->
			<!--    <p>Use the .flex-column:</p>-->
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/WhatIsGo">What Is Go?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/WhyPlayGo">Why Play Go?</a>
				</li>
				<!--        <li class="nav-item">-->
				<!--            <a class="nav-link disabled" href="#">Disabled</a>-->
				<!--        </li>-->
				<li class="nav-item">
					<a class="nav-link" href="#">About Me</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Learn More</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="http://www.usgo.org" target="_blank">American Go Association</a>
						<a class="dropdown-item" href="http://www.google.com" target="_blank">Google Homepage</a>
					</div>
				</li>
			</ul>
<!--		<nav id="nav_list">-->
<!--			<ul>-->
<!--				<li><a href="/">Home</a></li>-->
<!--				<li><a href="/WhatIsGo">What is Go?</a></li>-->
<!--				<li><a href="/WhyPlayGo" class="current">Why Play Go?</a></li>-->
<!--				<li><a href="/AboutMe" >About Me</a></li>-->
<!--				<li><a href="/Teaching" >Teaching</a></li>-->
<!--				<li><a href="" >Learn More</a>-->
<!--					<ul>-->
<!--						<li><a href="http://www.usgo.org" target="_blank">-->
<!--						    American Go Association</a></li>-->
<!--						-->
<!--					</ul>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</nav>-->
		
		<aside> "When I was young, . . . I wanted to be the world's best Go 
		player." -- Bill Gates<br><br><br>
		"While the Baroque rules of chess could only have been created by humans, 
		the rules of go are so elegant, organic, and rigorously logical that if 
		intelligent life forms exist elsewhere in the universe, they almost certainly play go." 
		-- Edward Lasker, chess grandmaster<br><br><br> "{it is} something unearthly . . . 
		If there are sentient beings on other planets, then they play Go." - Emanuel Lasker, 
		chess world champion</aside>
		
		<main>
			<ol>
				<li>
					<h2>Go is easy to learn.</h2>
					<p>The simple rules of the game allow you to pick up the game
					   at any age. In fact, young children can become very good very
					   quickly. </p>
					<div id= "sumire">
						<img src="Sumire.jpg" alt="Go picture">
					</div>
				<br>
				</li>
				
				<li>
					<h2>Go is the hardest game there is.</h2>
					<p>Enthusiasts often state that there are more possible games of Go
					   than atoms in the universe.</p>
				<br>
				<li>
					<h2>If you get good, others recognize it.</h2>
					<p>As a professional, other players and those who have heard of
					   the game respect me and think I am really smart.</p>
				<br>
				<li>
					<h2>If you get good, you get to do cool things.</h2>
					<p>In my Go adventures, I've snorkeled in the warm oceans of Maui, climbed the 
					   Great Wall of China, spent time in some of the nicest hotels on the planet,
					   and sang karaoke with legends of the game.</p>
				<br>
				<li>
					<h2>You get to meet great people.</h2>
					<p>The universality of the game transcends geographic, cultural and language 
				       barriers. Some of my favorite people in the world are thousands of
					   miles away. 
					
					
					<!--<h2>(Almost) everything else seems easy by comparison.</h2>
					<p>-->
			</ol>
			
			
			
			
		</main>

			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	</body>
</html>